<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container" >
            <!-- row -->
            <div class="row">
                <div class="col-md-6">
                    <div class="footer">
                        <h3 class="footer-title">Team MobiHub</h3>
                        <p>We are Team MobiHub. This is our Smartphone Price  Prediction <br>System </p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>Colombo , Sri Lanka</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+9471345132</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>mobihub.tech@gmail.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md">
                    <div class="footer">
                        <h3 class="footer-title">Categories</h3>
                        <ul class="footer-links">
                            <li><a routerLink="/home">Home</a></li>
                            <li><a routerLink="/features">Features</a></li>
                            <li><a routerLink="/seller_signUp">Seller Portal</a></li>
                            <li><a routerLink="/about">About Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md">
                    <div class="footer">
                        <h3 class="footer-title">Information</h3>
                        <ul class="footer-links">
                            <li><a routerLink="/why">Why MobiHub?</a></li>
                            <li><a routerLink="/policy">Privacy Policy</a></li>
                            <li><a routerLink="/t&c">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                    <span class="copyright">
                        Copyright &copy; 2022 All rights reserved ||<i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Team MobiHub</a>
                    </span>
                </div>
            </div>
                <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
