
<div class="container-fluid p-0">

  <!-- Image Showcases -->
  <hr>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Make Money As A Seller</h2>
      <p class="p-1">By registering to our software as a seller you can sell your mobile phones through our website
        and earn money. We have large base of sellers and customers so don't miss the chance.
      </p>
      <p class="p-1">Go to our web applications seller tab to get more information. if you are ready to join with us welcome to MobiHub!</p>
    </div>
    <div class="col-md-6">
      <img src="assets/img/seller.jpg" class="p-1">
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/img/customersup.jpg" class="p-1">
    </div>
    <div class="col-md-6">
      <h2>24/7 Customer Support</h2>
      <p class="p-1">Our team is ready to support</p>
      <p class="p-1">We are going to provide contact support to everyone
        24 hours 365 day. Our Gist chat system can provide live chat services with our clients.
      </p>
    </div>
    
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Mobile Friendly User Interface</h2>
      <p class="p-1">Our web application is fully responsive and easy to use. We are planing to release a mobile application soon!</p>
    </div>
    <div class="col-md-6">
      <img src="assets/img/mobile.jpg" class="p-1">
    </div>
  </div>
</div>
<hr>
</div>
