.form-group{
    width: 500px;
}
.alert{
    margin-top: -20px;
    height: 30px;
    width: 500px;
    color: #CD5C5C;
    padding-top: 0;
}

.top-error{
    margin-top: 20px;
    height: 40px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
