<div class="jumbotron">
    <div class="container">
        <h3 class="display-4">Terms of Service</h3>
        <p style="text-align: justify;font-size: medium;">MobiHub is intended for general information and awareness only.
            This website provides a free service and, as such, we provide no warranty or guarantee of service or uptime.
            By using this site, you acknowledge
            that you have read and agree to these terms and do so at your own risk.</p>
    </div>

    <br>
    <br>
    <div class="container">
        <h3 class="display-4"> Copyrights and Trademarks</h3>
        <p style="text-align: justify;font-size: medium;">Any product names, product images, marks, symbols, trade names, company names and/or logos which
            appear within the Site are the property of their respective owners (in case of products, it may be the
            manufacturer company of the product or seller of the product) and appear through the courtesy of, and/or a
            license from, such owners.
            Any infringement claim can be notified by sending us an email with the nature of
            your claim in the subject line.</p>
    </div>
</div>