<div class="jumbotron">
    <div class="container">
        <h3 class="display-4">Personal identification information</h3>
        <p style="text-align: justify;font-size: medium;">We May Collect Personal Identification Information From Users In A Variety Of Ways, Including,
            But Not Limited To, When Users Visit Our Site, Subscribe To A Newsletter, Fill Out A Form, And In Connection
            With Other Activities, Services, Features Or Resources We Make Available On Our Site. Users May Be Asked
            For, As Appropriate, Name, Email Address, Mailing Address, Phone Number. Users May, However, Visit Our Site
            Anonymously. We Will Collect Personal Identification Information From Users Only If They Voluntarily Submit
            Such Information To Us. Users Can Always Refuse To Supply Personally Identification Information, Except That
            It May Prevent Them From Engaging In Certain Site Related Activities.</p>
    </div>

    <br>
    <br>
    <div class="container">
        <h3 class="display-4">Non-personal identification information</h3>
        <p style="text-align: justify;font-size: medium;">We May Collect Non-Personal Identification Information About Users Whenever They Interact With
            Our Site. Non-Personal Identification Information May Include The Browser Name, The Type Of Computer And
            Technical Information About Users Means Of Connection To Our Site, Such As The Operating System And The
            Internet Service Providers Utilized And Other Similar Information.</p>
    </div>

    <br>
    <br>
    <div class="container">
        <h3 class="display-4">Web browser cookies</h3>
        <p style="text-align: justify;font-size: medium;">
            Our Site May Use “Cookies” To Enhance User Experience. User’s Web Browser Places Cookies On Their Hard Drive
            For Record-Keeping Purposes And Sometimes To Track Information About Them. User May Choose To Set Their Web
            Browser To Refuse Cookies, Or To Alert You When Cookies Are Being Sent. If They Do So, Note That Some Parts
            Of The Site May Not Function Properly.</p>
    </div>
</div>